
window {
    background-color: #7ba6edff;
    color: white;
}

window:not(.maximized) {
    border-radius: 12px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

window.maximized {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
}